<div class="row">
    <div class="col-lg-4"></div>
    <div classs="col-lg-4">
        <div class="form-inline">
            <!-- <input type="text" class="form-control" [(ngModel)]="statsName" placeholder="Enter the team name"> -->
            <select class="form-control" [(ngModel)]="statsName">
                <option value=" " selected>--Select Team--</option>
                <option *ngFor="let t of teams" value="{{t}}" >{{t}}</option>
            </select>
            &nbsp;<button class="btn btn-warning" type="button" (click)="getStats()">Show Stats</button>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
   
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <br>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <th>Home Team</th>
                <th>Opponent Team</th>
                <th>Venue</th>
                <th>Round</th>
                <th>{{statsName}}'s goals</th>
                <th>Opponent's goals</th>
                <th>Date</th>
                <th>Winner</th>
            </thead>
            <tbody *ngIf = "showRows">
                <tr *ngFor="let s of stats">
                    <td>{{s.hteam}}</td>
                    <td>{{s.ateam}}</td>
                    <td>{{s.venue}}</td>
                    <td>{{s.round}}</td>
                    <td>{{s.hgoals}}</td>
                    <td>{{s.agoals}}</td>
                    <td>{{s.date}}</td>
                    <td>{{s.winner}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-2"></div>
</div>