<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <div class="form-inline">
            <div class="col-lg-4 form-inline">
                <label>My Team: &nbsp;</label>                
                <select class="form-control mb-2" [(ngModel)]="myTeam">
                    <option value=" " selected>--Select Team--</option>
                    <option *ngFor="let t of teams" value="{{t}}" >{{t}}</option>
                </select>
            </div>
            <div class="col-lg-4 form-inline">
                <label>Rival Team: &nbsp;</label>                
                <select class="form-control mb-2" [(ngModel)]="rivalTeam">
                    <option value=" " selected>--Select Team--</option>
                    <option *ngFor="let t of teams" value="{{t}}" >{{t}}</option>
                </select>
            </div>
            <div class="col-lg-4">
                <button type="submit" class="btn btn-primary mb-2" (click)="getGames()">Show results</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <br>
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead class="thead-dark">
                <th>My team</th>
                <th>Rival team</th>
                <th>Venue</th>
                <th>{{myTeam}}'s goals</th>
                <th>{{rivalTeam}}'s goals</th>
                <th>Round</th>
                <th>Won</th>
                <th>Year</th>
            </thead>
            <tbody *ngIf="showRows">
                <tr *ngFor="let g of games">
                    <td>{{g.hteam}}</td>
                    <td>{{g.ateam}}</td>
                    <td>{{g.venue}}</td>
                    <td>{{g.hgoals}}</td>
                    <td>{{g.agoals}}</td>
                    <td>{{g.round}}</td>
                    <td>{{g.winner}}</td>
                    <td>{{g.year}}</td>
                </tr>                
            </tbody>
        </table>
    </div>
    <div class="col-lg-1"></div>
</div>