<div class="jumbotron">
<p>In 1857, Tom Wills, one of the founders of Australian Football, returned to Australia after schooling in England where he was football captain of Rugby School and a brilliant cricketer. Initially, he advocated the winter game of football as a way of keeping cricketers fit during off-season.

    The new game was devised by Wills, his cousin H.C.A. Harrison, W.J. Hammersley and J.B. Thompson. The Melbourne Football Club was formed on August 7, 1858 – the year of the code's first recorded match between Scotch College and Melbourne Grammar School.
    
    The game quickly blossomed. The Geelong Football Club was formed in 1859 and in 1866 an updated set of rules was put in place and competition started.
    
    The Victorian Football League was established in 1896 and the following year the League’s first games were played among the foundation clubs – Carlton, Collingwood, Essendon, Fitzroy, Geelong, Melbourne, St Kilda and South Melbourne.</p>
</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <table class="table table-bordered table-hover">
             <thead class="thead-dark">
                 <th>Team</th>
                 <th>Logo</th>
             </thead>
             <tbody>
                 <tr *ngFor = "let t of teams">
                     <td>{{t.name}}</td>
                     <td><img src="https://squiggle.com.au/{{t.logo}}"></td>
                 </tr>
             </tbody>
        </table>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <table class="table table-bordered table-hover">
             <thead class="thead-dark">                
                 <th>Logo</th>
                 <th>Source</th>
                 <th>Website</th>
             </thead>
             <tbody>
                 <tr *ngFor = "let s of sources">                    
                     <td><img src="https://squiggle.com.au/{{s.icon}}"></td>
                     <td>{{s.name}}</td>
                     <td>{{s.url}}</td>
                 </tr>
             </tbody>
        </table>
    </div>
    <div class="col-lg-2"></div>
</div>
