<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="input-group">            
            <select class="form-control" [(ngModel)]="teamName" (ngModelChange)="onChange()">
                <option value=" " selected>--Select Team--</option>
                <option *ngFor="let t of teams" value="{{t}}" >{{t}}</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="getTips()">Show</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

        <br>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead class="thead-dark">
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Match date</th>
                <th>Round</th>
                <th>Tip</th>
                <th>Win Prediction</th>
                <th>Sources</th>
            </thead>
            <tbody *ngIf="showRows">
                <tr *ngFor="let t of tips">
                    <td>{{t.hteam}}</td>
                    <td>{{t.ateam}}</td>
                    <td>{{t.date}}</td>
                    <td>{{t.round}}</td>
                    <td>{{t.tip}}</td>
                    <td>{{t.confidence}}</td>
                    <td>{{t.source}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-1"></div>
</div>