<div class="row">
    <div class="col-lg-4"></div>
    <div classs="col-lg-4">
        <div class="form-inline">            
            <select class="form-control" [(ngModel)]="sourceName">
                <option value=" " selected>--Select Source--</option>
                <option *ngFor="let s of sources" value="{{s}}" >{{s}}</option>
            </select>
            &nbsp;<button class="btn btn-warning" type="button" (click)="getLadder()">Show Ladder</button>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <br>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <th>Rank</th>
                <th>Team</th>
                <th>Round</th>
                <th>Wins</th>
                <th>Percentage</th>                
                <th>Source</th>
            </thead>
            <tbody *ngIf = "showRows">
               <tr *ngFor="let l of ladder">
                   <td>{{l.rank}}</td>
                   <td>{{l.team}}</td>
                   <td>{{l.round}}</td>
                   <td>{{l.wins}}</td>
                   <td>{{l.percentage}}</td>
                   <td>{{l.source}}</td>
               </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-2"></div>
</div>