<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <div class="form-inline">
            <div class="col-lg-4 form-inline">
                <label>Year: &nbsp;</label>                
                <select class="form-control mb-2" [(ngModel)]="year">
                    <option value=0 selected>--Select year--</option>
                    <option *ngFor="let t of yearsArr" value="{{t}}" >{{t}}</option>
                </select>
            </div>
            <div class="col-lg-4 form-inline">
                <label>Round: &nbsp;</label>                
                <select class="form-control mb-2" [(ngModel)]="round">
                    <option value=0 selected>--Select Round--</option>
                    <option *ngFor="let t of roundsArr" value="{{t}}" >{{t}}</option>
                </select>
            </div>
            <div class="col-lg-4">
                <button type="submit" class="btn btn-primary mb-2" (click)="getResults()">Show results</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <br>
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead class="thead-dark">
                <th>Team A</th>
                <th>Team B</th>
                <th>Venue</th>
                <th>Team A's goals</th>
                <th>Team B's goals</th>
                <th>Round</th>
                <th>Won</th>
                <th>Year</th>
            </thead>
            <tbody *ngIf="showRows">
                <tr *ngFor="let g of results">
                    <td>{{g.hteam}}</td>
                    <td>{{g.ateam}}</td>
                    <td>{{g.venue}}</td>
                    <td>{{g.hgoals}}</td>
                    <td>{{g.agoals}}</td>
                    <td>{{g.round}}</td>
                    <td>{{g.winner}}</td>
                    <td>{{g.year}}</td>
                </tr>                
            </tbody>
        </table>
    </div>
    <div class="col-lg-1"></div>
</div>