<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top ">
      <a class="navbar-brand"><img
          src="http://www.logo-designer.co/wp-content/uploads/2019/01/2018-arena-football-league-new-logo-design.png"
          style="width:100px;height:50px;"></a>
      <ul class="navbar-nav">
        <div class="col-lg-2">
        <li class="nav-item">
          <a class="nav-link activenavbar" id="home" routerLink='/' (click)="selectComp($event)">Home</a>
        </li></div>
        <div class="col-lg-2">
        <li class="nav-item">
          <a class="nav-link " id="about" routerLink="/about" (click)="selectComp($event)">About</a>
        </li></div>
        <div class="col-lg-2">
        <li class="nav-item">
          <a class="nav-link" id="pred" routerLink="/predictions" (click)="selectComp($event)">Predictions</a>
        </li></div>
        <!-- <li class="nav-item">
          <a class="nav-link" id="result" routerLink="/results" (click)="selectComp($event)">Results</a>
        </li> --><div class="col-lg-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" (click)="selectComp($event)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Results
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" id="result" routerLink="/results">Match Results</a>
            <a class="dropdown-item" id="roundResults" routerLink="/roundResults">Round Results</a>            
          </div>
        </li></div><div class="col-lg-2">
        <li class="nav-item">
          <a class="nav-link" id="fixtures" routerLink="/fixtures" (click)="selectComp($event)">Fixtures</a>
        </li></div><div class="col-lg-2">
        <li class="nav-item">
          <a class="nav-link" id="standings" routerLink="/standings" (click)="selectComp($event)">Standings</a>
        </li></div><div class="col-lg-2">
        <li class="nav-item">
          <a class="nav-link" id="ladder" routerLink="/ladder" (click)="selectComp($event)">Ladder</a>
        </li></div><div class="col-lg-2">
        <li class="nav-item">
          <a class="nav-link" id="stats" routerLink="/stats" (click)="selectComp($event)">Stats</a>
        </li></div>
        <!-- <li class="nav-item">
          <a class="nav-link" id="stadiums" routerLink="/stadiums" (click)="selectComp($event)">Stadiums</a>
        </li> -->
      </ul>
    </nav>
  </div>
</div>
<br><br><br><br><br>
<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-dark fixed-bottom bg-dark">
  <div class="col-lg-12">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
    <p class="navbar-brand">© 2020 Copyright: www.AFL.com.au</p></div>
    <div class="col-lg-4"></div>
  </div>
</nav>