<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <div class="form-inline">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 form-inline">
                <label>Select Team: &nbsp;</label>                
                <select class="form-control" [(ngModel)]="selectTeam">
                    <option value=" " selected>--Select Team--</option>
                    <option *ngFor="let t of teams" value="{{t}}" >{{t}}</option>
                </select>
            </div>
            <!-- <div class="col-lg-4 form-inline">
                <label>Select date: &nbsp;</label>
                <input type="date" class="form-control mb-2" [(ngModel)]="inputDate">
            </div> -->
            <div class="col-lg-2">
                <button class="btn btn-primary" type="button" (click)="getFixtures()">Show Fixtures</button>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <br>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <th>Home Team</th>
                <th>Opponent Team</th>
                <th>Venue</th>
                <th>Round</th>
                <th>Date</th>
            </thead>
            <tbody *ngIf = "showRows">
                <tr *ngFor="let f of fixtures">
                    <td>{{f.hteam}}</td>
                    <td>{{f.ateam}}</td>
                    <td>{{f.venue}}</td>
                    <td>{{f.round}}</td>
                    <td>{{f.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-2"></div>
</div>