<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <table class="table table-striped table-bordered table-condensed">
            <thead class="thead-dark">
                <th>Position</th>
                <th>Team</th>
                <th>P</th>
                <th>W</th>
                <th>L</th>
                <th>D</th>
                <th>GF</th>
                <th>GA</th>
                <th>%</th>
                <th>Pts</th>
            </thead>
            <tbody>
                <tr *ngFor = "let l of standings; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{l.name}}</td>
                    <td>{{l.played}}</td>
                    <td>{{l.wins}}</td>
                    <td>{{l.losses}}</td>
                    <td>{{l.draws}}</td>
                    <td>{{l.goals_for}}</td>
                    <td>{{l.goals_against}}</td>
                    <td>{{l.percentage}}</td>
                    <td>{{l.pts}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-2"></div>
</div>
