<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://resources.afl.com.au/photo-resources/2020/03/22/3cd85c39-4b7e-4511-b743-f75a67ae334d/01GCPA20CH412788020.JPG?width=952&height=592" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h2 style="color: black;">FOOTY'S trip down memory lane comes to a close in our Toyota Fixture Throwback series. </h2>
        </div>  
    </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://resources.afl.com.au/photo-resources/2020/04/17/374fc744-4fd4-4e1b-8168-b4930b8d9626/GFRiGW19RPP572157126.JPG?width=952&height=592" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <h2 style="color: black;">AFL BOSS Gillon McLachlan is refusing to rule out the possibility of a full-house MCG on Grand Final day this year. </h2>
        </div>
      </div> 
      <div class="carousel-item">
        <img class="d-block w-100" src="https://resources.afl.com.au/photo-resources/2020/06/05/dccff225-8b76-4425-9792-65e685d43d35/McCarthy-training.png?width=451&height=268" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
            <h2 style="color: white;">FREMANTLE forward Cam McCarthy has returned to training just two days after he collapsed and was rushed to hospital.</h2>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>